doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Packages Search for Emacs
    style
      include style.css
  body
    include nav.pug
    .container
      table
        thead
          tr
            th Package
            th Description
        tbody
          each pkg in pkgs
            tr
              td <a href="/package/#{pkg.name}">#{pkg.name}</a>
              td= pkg.desc
      #pagination
        - let n = 1;
        ul
          while n <= maxPage
            if n === page
              li <a href="#" class="active">#{n}</a>
            else
              if search
                li <a href="/?search=#{search}&page=#{n}">#{n}</a>
              else
                li <a href="/?page=#{n}">#{n}</a>
            - n++
      include foot.pug
