doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{pkg.name} - Packages Search for Emacs
    style
      include style.css
  body
    h1= pkg.name
    dl
      dt Description
      dd= pkg.desc

      dt Versions
      dd
        ul
          for ver in pkg.vers
            li <a href="#{ver.url}">#{pkg.name}-#{ver.name}</a>

      dt Home page
      dd TODO

    h2 Commentary
    pre TODO
