doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{pkg.name} - Packages Search for Emacs
    style
      include style.css
  body
    .container
      h1= pkg.name
      dl
        dt Description
        dd= pkg.desc
  
        dt Versions
        dd
          ul
            for ver in pkg.vers
              li #{ver.elpa} <a href="#{ver.url}">#{pkg.name}-#{ver.name}</a>
  
        if pkg.url
          dt Home page
          dd <a href="#{pkg.url}">#{pkg.url}</a>
  
        if pkg.deps
          dt Dependencies
          dd
            ul
              for dep in pkg.deps
                if dep.name === "emacs"
                  li emacs-#{dep.ver}
                else
                  li <a href="/package/#{dep.name}">#{dep.name}</a>
    
      h2 Commentary
      pre TODO
