doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{pkg.name} - Packages Search for Emacs
    style
      include style.css
  body
    include nav.pug
    .container
      h1= pkg.name
      dl
        dt Description
        dd= pkg.desc
  
        dt Versions
        dd
          ul
            for ver in pkg.vers
              li elpa: <a href="#{ver.upstreamUrl}">#{ver.elpa}</a>, download: <a href="#{ver.downloadUrl}">#{ver.filename}</a>
  
        if pkg.url
          dt Home page
          dd <a href="#{pkg.url}">#{pkg.url}</a>
  
        if pkg.deps
          dt Dependencies
          dd
            ul
              for dep in pkg.deps
                if dep.name === "emacs"
                  li emacs-#{dep.ver}
                else
                  li <a href="/package/#{dep.name}">#{dep.name}-#{dep.ver}</a>

        if pkg.revDeps
          dt Needed by
          dd
            for name, index in pkg.revDeps
              a(href="/package/" + name)= name
              if index < pkg.revDeps.length - 1
                |, 

        if pkg.props
          for value, name in pkg.props
            dt= name[0].toUpperCase() + name.slice(1)
            if name === "keywords"
              dd
                for keyword, index in value
                  a(href="/?keyword=" + keyword)= keyword
                  if index < value.length - 1
                    |, 
            else if name === "authors"
              dd
                for author in value
                  if author.email
                    <span><a href="/?author=#{author.name}">#{author.name}</a> #{author.email} </span>
                  else
                    <span><a href="/?author=#{author.name}">#{author.name}</a></span>
            else if name === "maintainer"
              dd 
                if value.email
                  <span><a href="/?author=#{value.name}">#{value.name}</a> #{value.email} </span>
                else
                  <span><a href="/?author=#{value.name}">#{value.name}</a></span>
            else
              dd= Array.isArray(value) ? value.join(", ") : value

      if pkg.commentary
        h2 Commentary
        pre= pkg.commentary

      include foot.pug
